name: Deploy to Netlify

on:
  push:
    branches:
      - main  # Trigger den Workflow bei jedem Push auf den 'main' Branch

jobs:
  build:
    runs-on: ubuntu-latest  # GitHub Actions läuft auf einer Ubuntu-VM

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2  # Checkout des Repositories, um den Code verfügbar zu machen

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'  # Setze die Node.js-Version (z.B. v16)

      - name: Install dependencies
        run: npm install  # Installiere die Abhängigkeiten, die in package.json definiert sind

      - name: Build the app
        run: npm run build  # Erstelle den Produktionsbuild (standardmäßig 'build' Ordner)

      - name: Install Netlify CLI
        run: npm install netlify-cli -g  # Installiere Netlify CLI global

      - name: Netlify build (optional but recommended for Netlify-specific builds)
        run: netlify build  # Dies sorgt dafür, dass Netlify-spezifische Build-Prozesse ausgeführt werden

      - name: Deploy to Netlify  
        env:    
            NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}    
            NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }} 
        run: netlify deploy --dir=./app/build --prod   
